.form
{
    font-size: 40px;
    position: absolute;
    top: 250px;
    border-radius: 500px;
    font-family:'Times New Roman', Times, serif;
    right:100px;
    color:rgb(3, 3, 3);
    height:10px;
    
}
.rectangle
{
    position: absolute;
    height: 800px;
    width:700px;
    background: rgba(11, 11, 11, 0.625);
    top:180px;
    left:750px;
    style:
        backgroundColor= rgba(18, 14, 14, 0.822);
        opacity: 0.7;
}
.body{
    background: url("./weather.avif");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.but2
{
    position: absolute;
    border-radius: 1000px;
    background: #D9D9D9;
    width: 177px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 35px;
    color: #000000;
    left: 100px;
}
.head
{
    font-size: 50px;
    position: absolute;
    top:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    right:280px;
    color:rgb(255, 255, 255);
}
.button{
    
    background:  #15a728;
    left:500px;
    font-size:35px;
    color:white;
    font-family: cursive;
    width:500px;
    height:60px;
    
}
.para
{
    color:white;
    font-size: 30px;
}
input[type=Password]
{
   
    size: 35;
    height:50px;
    font-size: 30px;
    width:500px;
    right:500px;
    
    
}
input[type=email]
{
   
    size: 35;
    height:50px;
    font-size: 30px;
    width:500px;
    right:500px;
   
    
}
.kk
{
    position: absolute;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    left:250px;
}
