.body67{
    background: url("./snow.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.head 
    {
        position: relative;
        left:30px;
        top:10px;
        color:white
    }
    .para
    {
        position:relative;
        font-size:50px;
        top:300px;
        font-family: 'Times New Roman', Times, serif;
        color: #000;
    }
    .rectangle1
    {
      position: relative;
      height:300px;
      width:350px;
      background: rgba(255, 255, 255, 0.312);
      style:
        backgroundColor=  rgba(255, 255, 255, 0.373);
        opacity: 0.7;
      left:300px;
      top:1000px;
    }
    .p1
    {
      position: relative;
      color: rgb(3, 3, 3);
      font-size: 28px;
      font-family: 'Times New Roman', Times, serif;
    }
    .rectangle2
    {
      position: relative;
      height:300px;
      width:350px;
      background: rgba(255, 255, 255, 0.312);
      style:
        backgroundColor=  rgba(255, 255, 255, 0.373);
        opacity: 0.7;
      left:800px;
      top:700px; 
    }
    .p2
    {
      position: relative;
      color: rgb(14, 14, 14);
      font-size: 28px;
    }
    .rectangle3
    {
      position: relative;
      height:300px;
      width:350px;
      background: rgba(255, 255, 255, 0.312);
      style:
        backgroundColor=  rgba(255, 255, 255, 0.373);
        opacity: 0.7;
      left:1300px;
      top:400px; 
    }
    .p3
    {
      position: relative;
      color: rgb(0, 0, 0);
      font-size: 25px;
    }
    .rectangle4
    {
      position: relative;
      height:300px;
      width:350px;
      background: rgba(255, 255, 255, 0.312);
      style:
        backgroundColor=  rgba(255, 255, 255, 0.373);
        opacity: 0.7;
      left:1800px;
      top:100px; 
    }
    .p4
    {
      position: relative;
      color: rgb(14, 14, 14);
      font-size: 25px;
    }
    .img66
    {
      position: relative;
      top:200px;
      left:-500px;
    }
    .img77
    {
      position: relative;
      left:300px;
      top:-760px;
    }
    .img88
    {
      position: relative;
      left:550px;
      top:-700px;
    }
    .img99
    {
      position: relative;
      left:800px;
      top:-1680px;
    }
    .celcius
    {
      font-size:300px;
      position: relative;
      color:rgb(33, 130, 179);
      left:-500px;
      top:-1050px;
      font-style: unset;
    }
    .p22
    {
      position: relative;
      top:-1600px;
      left:400px;
    }
    .p11
    {
      position: relative;
      top:-1600px;
      left:400px;
    }
    .Footer
    {
        position: relative;
         background:rgba(252, 249, 249, 0.442);
         padding: 1rem 0;
         margin-top: 2.5rem;
         top:-1500px;
         height: 600px;
         style:
        backgroundColor=rgba(252, 249, 249, 0.896);
        opacity: 0.7;
        
    }
     .ft-1 h3{
        
        position: relative;
        font-weight: 700;
        font-family:cursive; 
        letter-spacing: 2px;
        right:550px;
        top:50px;
    
     }
     .ft-1 span{
        color: #f60838;
        font-size: 33px;
    
     }
     .ft-1 h3{
        color: #040404;
        font-size: 30px;
    
     }
     .ft-1 p{
        position: relative;
        padding: 0rem 5rem 0.8rem 0;
        font-weight: 500;
        right:500px;
        font-size: 28px;
        color: rgb(5, 5, 5);
        
        

     }
     .footer-icons i
     {
         padding: 0.4rem 0.5rem;
         background: #e1e1e1;
         color: #0c0c0c;
         margin: 0 0.5rem ;
         border-radius:50%;
         right:600px;
         position: relative;
         top:200px;

     }
     .footer-icons i:hover
     {
         background: #f60838 ;
         color: #fff;
         transition: 0.6s;
         cursor: pointer;
         
         
     }
     .Footer h5{
        color:   #f60838;
        position: relative;
        font-size: 30px;
        top:-210px;
     }
     .ft-2 ul{
        list-style: none;
        padding-left: 0;
        color: rgb(2, 2, 2);     
        
     }
     .ft-2 ul li{
        padding: 0.35rem 0;
        font-weight: 500;
        position: relative;
        top:-220px; 
        color: rgb(34, 32, 32);       
        
     }
     .ft-2 ul li a{
      position: relative;
        text-decoration: none;
        color: #090808;
        font-size: 1.06rem ;
        top:20px;
    
     }
     .Footer h4{
        color:  #f60838;
        position: relative;
        font-size: 30px;
        top:-490px;
        left:500px;

     }
     .ft-3  p{
        color: rgb(5, 5, 5);     
        font-weight: 500;
        padding-right: 0.1rem 0;
        font-size: 1.06rem ;
        position: relative;
        left:500px;
        top:-470px;
    
     }
     .ft-3 i{
        padding-right: 0.5rem;
    
     }
     

     .Last-footer {
        background: #f7f1f1;
        text-align: center;
        padding: 1rem 0;
        position: relative;
        top:-100px
     }
     .Last-footer p{
        margin-bottom: 0;
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(8, 8, 8);
     }