
.white
{
        background: url("./white.avif");
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
}
.rectangle33
{
    position: relative;
    height:1100px;
    width:1700px;
    background-color: rgba(255, 255, 255, 0.614);
    left:300px;
    top:50px;
}
.circle
{
    position: relative;
   width: 800px;
   height: 700px;
   border-radius: 200px;
   top:10px;
   left:-100px;
}
.about 
{
    position: relative;
    top:-500px;
    left:-200px;
    font-size: 38px;
}
.rectangle331
{
    position: relative;
    height:500px;
    width:500px;
    background-color: rgba(191, 126, 29, 0.708);
    top:-700px;
    left:800px;
    border-radius: 20px;
}
.k11
{
    color:rgb(248, 247, 246);
    font-size: 23px;
    top:10px;
}
.k122
{
    color:rgb(68, 5, 5)
}
.rectangle332
{
    position: relative;
    height: 500px;
    width:700px;
    background-color: rgb(8, 61, 65);
    top:-750px;
    left:70px;
    border-radius: 20px;
}
.k223
{
    color:rgb(244, 245, 250);
}
.r11
{
    font-size: 28px;
    color:rgba(243, 245, 247, 0.779)
}
.rectangle333
{
    position: relative;
    height:400px;
    width:900px;
    background-color: rgb(185, 150, 56);
    top:-1150px;
    left:800px;
    border-radius: 20px;
}
.r22
{
    position: relative;
    
}