.body1{
    background: url('./blu.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    
}
.predict
{
    position:absolute;
    height: 1000px;
    left:100px;
    top:180px;
}
.rectangle2
{
    position: absolute;
    height: 900px;
    width:700px;
    background: rgba(8, 8, 8, 0.911);
    top:100px;
    left:1380px;
    style:
    backgroundColor= rgba(18, 14, 14, 0.822);
    opacity: 0.7;
}
.head2
{
    font-size: 50px;
    position: absolute;
    top:30px;
    font-family:cursive;
    text-align: center;
    right:200px;
    color:rgb(255, 255, 255);
}
.form2
{
    font-size: 40px;
    position: absolute;
    top: 250px;
    border-radius: 500px;
    font-family:'Times New Roman', Times, serif;
    right:100px;
    color:rgb(3, 3, 3);
    height:10px;
}
input[type=text100]
{
   
    size: 35;
    height:50px;
    font-size: 30px;
    width:500px;
    right:100px;
    top:20px;
    
    
}
input[type=text201]
{
   
    size: 35;
    height:50px;
    font-size: 30px;
    width:500px;
    right:500px;
    
    
}
input[type=Password]
{
   
    size: 35;
    height:50px;
    font-size: 30px;
    width:500px;
    right:500px;
    
    
}
input[type=email1]
{
   
    size: 35;
    height:50px;
    font-size: 30px;
    width:500px;
    right:500px;
   
    
}
.p1
{
    color:white;
    font-size: 30px;
}
.rk
{
    position: absolute;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    left:240px;
}